@import "../../bp.scss";
$number-of-togglers: 5;

/* main */
.cta-menu-buttons-wrapper-nav {
  top: 77%;
  @media (min-height: 300px) {
    top: 50%;
  }
  @media (min-height: 360px) {
    top: 55%;
  }
  @media (min-height: 400px) {
    top: 60%;
  }
  @media (min-height: 480px) {
    top: 65%;
  }
  @media (min-height: 600px) {
    top: 70%;
  }
  @media (min-height: 700px) {
    top: 75%;
  }
  @media (min-height: 900px) {
    top: 77%;
  }
}
.menu-menu-buttons-wrapper-nav {
  top: 0;
}

/* nav */
.cta-nav {
  width: 90px;
}
.menu-nav {
  width: 90px;
}

/* label */
.cta-menu-open-button {
  position: absolute;
  transform: scale(1) translate3d(0, 0, 0);
}
.menu-menu-open-button {
  // transform: scale(0) translate3d(0, 0, 0);
  display: none;
}

/* a */
.a-cta {
  top: 20px;
}
.a-nav {
  top: 20px;

  // in-out cta-nav
  @for $i from 1 through $number-of-togglers {
    &:nth-child(#{$i + 2}) {
      transform: translate3d(-($i - 1) * 80px, 0, 0);
    }
  }
}
