/* when component is cta */
.music-toggler-cta {
  @media (hover: hover) {
    &:hover {
      /* prev button */
      div:nth-child(2) {
        transform: translate(-120%, -50%) rotate(-35deg);
      }
      /* next button */
      div:nth-child(3) {
        transform: translate(-20%, -125%) rotate(-35deg);
      }
    }
  }
}
.music-toggler-nav {
  @media (hover: hover) {
    &:hover {
      /* prev button */
      div:nth-child(2) {
        transform: translate(-60%, 125%);
      }
      /* next button */
      div:nth-child(3) {
        transform: translate(60%, 125%);
      }
    }
  }
}
