/* when component is cta */
.music-toggler-cta {
  @media (hover: hover) {
    &:hover {
      /* prev button */
      div:nth-child(2) {
        transform: translate(-130%, -20%) rotate(-55deg);
      }
      /* next button */
      div:nth-child(3) {
        transform: translate(-60%, -115%) rotate(-55deg);
      }
    }
  }
}
.music-toggler-nav {
  @media (hover: hover) {
    &:hover {
      /* prev button */
      div:nth-child(2) {
        transform: translate(-60%, 125%);
      }
      /* next button */
      div:nth-child(3) {
        transform: translate(60%, 125%);
      }
    }
  }
}
