:root {
  /* color */
  --bg-color-primary: #ccc;
  --bg-color-secondary: #333333;
  --text-color-primary: black;
  --text-color-secondary: white;

  /* breakpoints */
  --bp-xss: 0;
  --bp-xs: 320px;
  --bp-sm1: 360px;
  --bp-sm2: 460px;
  --bp-sm: 600px;
  --bp-md1: 760px;
  --bp-md: 960px;
  --bp-lg1: 1080px;
  --bp-lg: 1280px;
  --bp-xl1: 1500px;
  --bp-xl: 1920px;
}

/* dark mode */
[data-theme="dark"] {
  /* color */
  --bg-color-primary: #151515;
  --bg-color-secondary: #333333;
  --text-color-primary: white;
  --text-color-secondary: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: var(--bg-color-primary);
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
}
