@import url("https://fonts.googleapis.com/css2?family=Orelega+One&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Karantina&display=swap");
// @import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300&display=swap');

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("./fonts/Roboto-Regular.ttf") format("truetype");
}

:root {
  /* color */
  --bg-color-primary: #ccc;
  --bg-color-secondary: #333333;
  --bg-color-secondary-1: #212121;
  --text-color-primary: black;
  --text-color-secondary: white;
  --title-color-primary: #d00000;

  /* breakpoints */
  --bp-xss: 0;
  --bp-xs: 320px;
  --bp-sm1: 360px;
  --bp-sm2: 460px;
  --bp-sm: 600px;
  --bp-md1: 760px;
  --bp-md: 960px;
  --bp-lg1: 1080px;
  --bp-lg: 1280px;
  --bp-xl1: 1500px;
  --bp-xl: 1920px;
}

/* dark mode */
[data-theme="dark"] {
  /* color */
  --bg-color-primary: #151515;
  --bg-color-secondary: #333333;
  --bg-color-secondary-1: #212121;
  --text-color-primary: white;
  --text-color-secondary: black;
  --title-color-primary: #d00000;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  color: var(--text-color-primary);
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //   sans-serif;
  height: 100vh;
  background: var(--bg-color-primary);
  box-sizing: border-box;
  overflow: hidden;
  cursor: default;
  cursor: url("./components/svg/general-cursor.svg"), auto;
}

input {
  cursor: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
}

#loader {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: var(--title-color-primary);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.hoverable {
  cursor: url("./components/svg/rock-hand-cursor.svg") 9 0, auto;
}
